.town-search {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  padding-right: 25px;
}
.town-search:focus {
  border: unset;
}
.town-search_input {
  border-radius: 20px;
  height: 40px;
  width: 500px;
  border: 5px solid #939cb0;
  background-color: #eaecf3;
  padding: 0 10px;
  font-size: 16px;
}
button {
  position: absolute;
  right: -127px;
  top: 20px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-family: inherit;
}
.town-search_button {
  border-radius: 20px;
  font-size: 17px;
  width: 127px;
  height: 52px;
  background-color: #4793ff;
  border: unset;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  transition: transform 0.15s;
  transform-style: preserve-3d;
  border: 2px solid #1962c7;
}
.town-search_button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1e71e4;
  border-radius: inherit;
  transform: translate3d(0, 0.5em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}

.town-search_button:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}
.town-search_button:active {
  background: #4dd0fb;
  transform: translate(0em, 0.5em);
}
.town-search_button:active::before {
  box-shadow: 0 0 0 2px #4dd0fb, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -0.5em);
}
.app-name {
  /* color: #4793ff; */
  color: #4793ff;
  font-size: 40px;
}
.header {
  display: flex;
  gap: 70px;
}
